@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

@import "/html/note03/cssfile/resetCSS.css";

@import "/html/note03/cssfile/variable.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
    
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Filled");

@import "/html/note03/cssfile/navigation-bar.css";

@import "/html/note03/cssfile/media-query.css"
    
*{
    box-sizing:border-box;
}
body{
    font-family:font-family: 'Roboto Serif', serif;
    background-color:var(--background-purple);
    color:white;
            )
}
input{
    border:none;
    outline:none;
    appearance:none;
}

.display-flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.position-relative{
    position:relative;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }